In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/chunk_authors_v1.csv')
df.head()

,chunk_id,left_size,right_size,authors_left,authors_right
0,776661,1,1,"{'tiago@3scale.net': {'modified': 1, 'deleted'...","{'geoffd123@hotmail.com': {'modified': 1, 'del..."
1,776662,6,12,"{'tiago@3scale.net': {'modified': 1, 'deleted'...",{'geoffd@professionalhosts.com': {'modified': ...
2,776697,60,0,"{'njbartlett@gmail.com': {'modified': 57, 'del...",{}
3,776700,17,31,"{'njbartlett@gmail.com': {'modified': 17, 'del...","{'njbartlett@gmail.com': {'modified': 31, 'del..."
4,776710,2,2,"{'chris@wensel.net': {'modified': 2, 'deleted'...","{'chris@wensel.net': {'modified': 2, 'deleted'..."

In [8]:
print(f"Total of chunks processed: {len(df)}")

Total chunk authors processed: 163388

In [10]:
selected = df[(df['authors_left'] != '{}') & (df['authors_right'] != '{}')]
print(f"Total of chunks with at least one author: {len(selected)}")

Total of chunks with at least one author: 117820